.container {
  width: 10.5rem;
  height: 2.7rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  text-transform: capitalize;
}