.button{
  width: 10rem;
  background-color: black;
  height: 3rem;
  border-radius: 0.7rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 15px;
  color: #FFFFFF;

}

.primary {
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.secondary {
  width: auto;
  background-color: #FFFFFF;
  color: #444444;
  font-weight: 400;
  &:hover {
    color: black;
  }
}