.container{
  width: 80%;
  margin: 0 auto;
  min-height: 70vh;
  display: flex;
  .left{
    width: 35%;
    p{
      font-size: 1.4rem;
      line-height: 2rem;
      color: #111827;
      margin-top: .4rem;
    }
  }
  .right{
    position: relative;
    width: 65%;
    border-bottom: 1px solid black;
    .row{
      display: flex;
      gap: 3rem;
      margin-bottom: 3rem;
    }
  }
  .addNewsButton{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}