.block {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  max-width: 140rem;
  width: 60%;
  margin: 0 auto 2rem;
  font-family: 'Inter', Serif, serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;

  .container {
    width: 100%;
    display: flex;
    margin: 0.7rem;
    justify-content: space-between;

    .content {
      width: 50%;
      max-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .contentT {
        .title {
          font-size: 4rem;
          line-height: 60px;
          margin-bottom: 1rem;
        }

        .description {
          font-size: 2rem;
          line-height: 30px;
          color: #888282;
        }
      }

      .info {
        display: flex;
        justify-content: space-between;
        max-width: 95%;
        align-items: center;
        justify-self: flex-end;
      }
    }

    .imageContainer {
      width: 50%;

      img {
        width: 96%;
        height: 100%;
        object-fit: cover;
      }
    }
  }


}







